# Import required libraries

In [4]:
import csv
import MySQLdb
import pandas as pd
from sqlalchemy import create_engine

# Install Packages using this link

# https://goo.gl/JdituC
    
https://github.com/arundasan91/Server-and-Cloud-Essentials/blob/master/install_mysql.sh

In [ ]:
# sudo apt-get install python-dev python3-dev
# sudo apt-get install mysql-client-core-5.7
# sudo apt-get install mysql-server
# sudo apt-get install libmysqlclient-dev
# pip3 install --user configparser
# pip3 install --user mysqlclient

In [ ]:
# mysql -uroot -proot
# SHOW databases;
# create database testdb;

# Setup the Database Connection w/ Python

In [ ]:
DATABASE = 'testdb'
engine = create_engine("mysql+mysqldb://root:"+'root'+"@localhost/"+DATABASE)

# Load Dataset to Python

In [2]:
iris = pd.read_csv('iris.data', header=None)

In [3]:
iris[:5]

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

# Add records to MYSQL Database

In [6]:
iris.to_sql('iris_data', con=engine, if_exists='append', index=False)